body {
  padding-top: 135px;

  #header-logo {
    height: 65px;
    width: 75px;
  }

  .header-item {
    margin-top: 20px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #1c1919;
  }

  .text-muted {
    color: #777;
  }
}
