body {
  padding-top: 135px;

  #header-logo {
    height: 65px;
    width: 75px;
  }

  .header-item {
    margin-top: 20px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #1c1919;

    .container {
      padding-top: 60px;
    }
  }

  .text-muted {
    color: #777;
  }

  .slide {
    img {
      width: 1140px;
      height: 590px;
    }

    .nav {
      text-align: center;
      display: block;
      position: absolute;
      z-index: 1002;
      left: 0;
      bottom: -4px;
      right: 0;
      height: 318px;
    }

    .nonDraggableImage{
      -webkit-user-drag: none;
    }


    .nav .dot, .nav .dot a {
      display: inline-block;
      zoom: 1;
    }

    .nav .wrapper {
      margin: 0 auto;
      width: 100%;
      padding: 1em 0 .5em;
    }

    .dots .dot {
      position: relative;
      margin: 0 8px;
      width: 12px;
      height: 12px;
    }

    .dots .dot a {
      position: relative;
      top: 2px;
      left: 2px;
      width: 16px;
      height: 16px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background: #FFF;
      border: 1px solid transparent;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: background-color 0.25s, border-color 0.25s;
      -moz-transition: background-color 0.25s, border-color 0.25s;
      transition: background-color 0.25s, border-color 0.25s;
    }

    .dots .dot a.active {
      border-color: #FFF;
      background-color: transparent;
    }
  }
}
