.product {

  ul.list-product {
    overflow:hidden;
    margin-left: -8px;

    li {
      display:inline-block;
      padding-bottom: 15px;
    }

    a.product-img {
      padding-left: 10px;
      padding-right: 10px;
    }

    img.product-img {
      height: 385px;
      width: 290px;
      transition: width height 0.5s;
    }

    .product-price {
      margin-left: -299px;
      position: absolute;
      margin-top: 325px;
      font-size: 20px;
      background-color: #e7e2e2;
      height: 60px;
      width: 290px;
    }
  }

  .panel-default .panel-heading {
    color: #333;
    background-color: #e7e2e2;
    border-color: #ddd;
  }
}

#product {
  .product-photo {
    width: 540px;
  }

  img.photo {
    height: 690px;
    width: 540px;
  }

  .thumbnail_image {
    height: 76.5px;
    width: 62px;
  }

  ul.list-photo {
    overflow:​ hidden;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 15px;

    li {
      display:inline-block;
      padding-bottom: 15px;
      margin-left: 8px;
    }
  }

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(img/blank.gif) no-repeat;
  }

  .arrow.prev {
    opacity: 1;
    left: 20px;
    top: 345px;
    background-image: url(img/paddle_prev_999.png);
    transition: 0.2s linear all;
  }

  .arrow.next {
    opacity: 1;
    right: -50px;
    top: 345px;
    background-image: url(img/paddle_next_999.png);
    transition: 0.2s linear all;
  }

  .arrow.prev:hover {
    opacity: 1;
    background-image: url(img/paddle_prev_fff.png);
  }

  .arrow.next:hover {
    opacity: 1;
    background-image: url(img/paddle_next_fff.png);
  }

  .product-detail {
    h4 a {
      color: #746C60;
    }

    h5 a {
      color: #716b5a;
    }
  }

  @media (min-width: 768px) {
    .col-sm-7 {
      width: 30%;
    }
  }

  .product_actions--quantity-wrapper {
    line-height: 35px;
    display: block;
    min-height: 48px;
    float: left;
  }

  .product_actions--quantity {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    line-height: 17px;
    font-size: 1.3rem;
    display: inline-block;
    font-family: sourcesanspro-semibold,Arial,sans-serif;
    background-color: #faf8f4;
    border: 1px solid #e8e3d9;
    color: #716b5a;
    text-align: center;
    vertical-align: middle;
  }

  .product_actions--quantity-value {
    height: 20px;
    width: 20px;
    line-height: 22px;
    font-size: 1.3rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .product-action-add-cart {
    -webkit-appearance: none!important;
    -webkit-border-radius: 0;
    background-color: #467c3f;
    color: #f4f3e8;
  }

  .product-action-add-favorite {
    font-family: sourcesanspro,Arial,sans-serif;
    color: #716B5A;
    -webkit-appearance: none!important;
    -webkit-border-radius: 0;
  }

  .product_actions-share-social {
    font-size: 15px;
    margin-top: 7px;
    float: left;
    a {
      color: #333;
    }
  }

  h5.product-description {
    color: #716b5a;
  }

  .dynamic-content {
    color: #000;
    padding: 1em 0;
    line-height: 24px;
  }

  .dynamic-content p {
    font-family: sourcesanspro,Arial,sans-serif;
    text-transform: none;
    margin-bottom: 1rem;
  }
}
