<h3 class="text-center"><%= @brand.name %></h3>
<div class="product" ng-controller="ProductController">
  <div class="row">
    <div class="col-xs-3" style="padding-left :63px">
      <%= render "shared/search" %>
    </div>
    <div class="col-xs-9" style="padding-left: 0px; padding-right: 133px;">
      <ul class="list-product text-center">
        <li dir-paginate="product in products | itemsPerPage: 24">
          <%= link_to redirect_product("{{product.id}}"), class: "product-img" do %>
            <img ng-src="{{product.images[product.images.length -1].photo}}" class="product-img img-thumbnail">
            </img>
          <% end %>
          <em class="product-price">{{product.price | currency}}</em>
        </li>
      </ul>
      <div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
    </div>
  </div>
</div>
