<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">T-Shirts<h3></div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="dropdown">
        <a href="#demo-brand" data-toggle="collapse">> BRANDS</a>
        <div id="demo-brand" class="collapse">
          <ul class="nav nav-pills nav-stacked">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
          </ul>
        </div>
      </li>
      <li role="presentation" class="dropdown">
        <a href="#demo-type" data-toggle="collapse">> TYPES T-SHIRTS</a>
        <div id="demo-type" class="collapse">
          <ul class="nav nav-pills nav-stacked">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
          </ul>
        </div>
      </li>
      <li role="presentation" class="dropdown">
        <a href="#demo-art-medium" data-toggle="collapse">> ART MEDIUM</a>
        <div id="demo-art-medium" class="collapse">
          <ul class="nav nav-pills nav-stacked">
            <li><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Filter<h3></div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <label class="radio-inline"><input type="radio" name="optradio">Male</label>
        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1">Select brand:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1">Select type T-shirt:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1">Select art medium:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel">Min price:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <label for="sel">Max price:</label>
          <select class="form-control" id="sel2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <button type="button" class="btn btn-primary btn-md">Search</button>
      </li>
    </ul>
  </div>
</div>
