<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">T-Shirts<h3></div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% Product::FILTERS.each do |filter| %>
        <%= render "shared/filter", value: filter %>
      <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Filter<h3></div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <label class="radio-inline"><input type="radio" name="optradio">Male</label>
        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1">Select brand:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1">Select type T-shirt:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel1">Select art medium:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <div class="form-group">
          <label for="sel">Min price:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <label for="sel">Max price:</label>
          <select class="form-control" id="sel2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </li>
      <li>
        <button type="button" class="btn btn-primary btn-md">Search</button>
      </li>
    </ul>
  </div>
</div>
