<div class="container">
  <div class="slide" ng-controller="sildeController">
    <img ng-repeat="slide in slides | orderBy:orderProp | limitTo:quantity" class="img-responsive"
      ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.photo}}">
    <nav class="nav">
      <div class="wrapper">
        <ul class="dots">
          <li class="dot" ng-repeat="slide in slides | orderBy:orderProp | limitTo:quantity">
            <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
              ng-click="setCurrentSlideIndex($index);">
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<h3 class="text-center">T-SHIRTS</h3>
<div class="product" ng-controller="ProductController">
  <div class="row">
    <div class="col-xs-3" style="padding-left :63px">
      <%= render "form_filter" %>
    </div>
    <div class="col-xs-9" style="padding-left: 0px; padding-right: 133px;">
      <ul class="list-product text-center">
        <li dir-paginate="product in products | itemsPerPage: 18">
          <%= link_to "#", class: "product-img" do %>
            <img ng-src="{{product.images[product.images.length -1].photo}}" class="product-img img-thumbnail">
            </img>
          <% end %>
          <em class="product-price">{{product.price | currency}}</em>
        </li>
      </ul>
      <div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
    </div>
  </div>
</div>

